.preview-image-container {
  width: 100%;
  height: 100%;
  background-color: rgb(24, 24, 24);

}

.post-preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width:576px) {
  .post-preview-image{
    object-position:0 25%;
  }
}