.header{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px ;
}

.header-logo-container{
    display: flex;
    gap: 10px;
    align-items: center;
}

.navigate-message-button{
    background-color: transparent;
    outline: none;
    border: none;
}

.navigate-message-icon{
    font-size: 2rem;
}

@media (min-width:768px) {
    .header{
        display: none;
    }
}

