
.user-details{
    display: flex;
    gap: 10px;
    align-items: center;
}

.user-image{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    object-fit: cover;
}

.username{
    font-size: 1.4rem;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.link{
    text-decoration: none;
}

