.sidebar-column{
    top: 0;
    position: sticky;
    box-sizing: border-box;
    padding: 10px 5px;
    width: 100%;
    max-width: 350px;
    border: 1px solid rgb(218, 218, 218);
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(250,250,250,1) 100%, rgba(247,247,247,1) 100%);
    /* box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;} */
}
@media (max-width:1024px) {
    .sidebar-column{
        display: none;
    }
}